body {
	background-color: #CFCFCF;
}
.background {
	width: 1049px;
	padding: auto;
	margin: auto;
	background-color: #292626;
	min-height: 916px;
}
.left {
	margin-top: 25px;
	margin-left:5px;
	float: left;
}
.first {
	background-color: white;
	width: 335px;
	border-right: 1px dotted black;
	float: left
}
.title {
	background: url('images/a.gif') repeat-x;
	color: white;
	width: 100%;
	margin-top: -16px;
}
.p-title {
	padding-left: 16px;
	font-size: 15px;
	line-height: 20px;
	height: 30px;
	font-weight: bold;
	padding-top: 3px;
}
.img1 {
	padding-left: 14px;
	margin-top: -8px;
}
.img2 {
	margin-left: 16px;
	background-image: url('images/showbuzz.gif');
	margin-right: 16px;
	margin-top: 2px;	
}
.p-more {
	padding-top: -1px;
}
.more1 {
	padding-top: -2px;
}
.more {
	color: black;
	font-size: 14px;
	font-weight: bold;
}
.more-padding {
	margin-left: 235px;
	padding-bottom: 2px;
	margin-top: 5px;

}
.content {
	margin-top: -10px;
	margin-left: 16px;
	margin-right: 16px;
}
.content-title {
	font-weight: bold;
	margin-bottom: -14px;
}
.second {
	background-color: white;
	width: 339px;
	float: left;
}
.img3 {
	margin-left: 16px;
	background-image: url('images/shooting-star.gif');
	margin-right: 16px;
}
.first-second-footer {
	margin-left: 0px;
	background-color: white;
	width: 100%;
}
.img4 {
	margin-left: 16px;
	margin-bottom: -4px;
	padding-top: 10px;
}
.third {
	background-color: white;
	width: 335px;
	float: left;
	margin-top: 20px;
}
.title2 {
	background: url('images/b.gif') repeat-x;
	color: white;
	width: 100%;
	margin-top: -16px;
}
.click {
	background: url('images/h3-movie-trailers-bg.gif');
	color: #0080FF;
	height: 24px;
	margin-top: -20px;
}
.img-click {
	float: right;
	padding-top: 6px;
	padding-right: 10px;
}
.img-click1 {
	margin-top: 6px;
	float: right;
	width: 58px;
	height: 14px;
	background: url(images/star2.gif) 0 -68px;	
	margin-right: 10px;
}
.img-click2 {
	margin-top: 7px;
	float: right;
	width: 58px;
	height: 14px;
	background: url(images/star2.gif) 0 -52px;	
	margin-right: 10px;
}


.third-content {
	margin-left: 16px;
	margin-top: 0px;
}
.img5 {
	width: 120px;
	height: 79px;
	float: left;
	margin-right: 10px;
}
.p-third {
	padding-right: 10px;
	font-size: 13px;
	margin-bottom: 2px;
}
.a1 {
	color:#0080FF;
	font-weight: bold;
}
.link {
	font-size: 13px;
	margin-bottom: 8px;
}
.link::before {
	content: url('images/icons.gif');
}
.click1 {
	background: url('images/h3-movie-trailers-bg.gif');
	color: #0080FF;
	height: 24px;
	margin-top:-20px;
	border-top: 1px solid #BFBFBF;
	margin-top: -2px;
}
.select {
	background: white;
	border-top: 1px dotted #BFBFBF;
	height: 34px;
	
}
.img6 {
	margin-left: 14px;
	margin-top: 3px;
	float: left;
	margin-right:5px;
}
.p-show {
	color: #646464;
	font-weight: bold;
	
}
.show {
	padding-top: 7px;
}
select {
	width: 192px;
}
.fourth {
	margin-top: 20px;
	width: 320px;
	float: left;
	margin-left: 20px;
	background-color: white;
}
.fourth-title {
	background-color: white;
	color: #0080FF;
	height: 20px;
	margin-top: -20px;
}
.fourth-content {
	margin-left: 16px;
	margin-top: 16px;
	background-color: white;
}
.img7 {
	width: 120px;
	height: 80px;
	float: left;
	margin-right: 10px;
	margin-top:-2px;
}
.p-title1 {
	padding-left: 16px;
	font-size: 17px;
	line-height: 30px;
	height: 34px;
	font-weight: bold;
}
.link1 {
	font-size: 13px;
	margin-left: 0px;
	margin-bottom: 10px;
}
.link1::before {
	float: left;
	content: url('images/icons.gif');
}
.link2 {
	font-size: 16px;
	margin-left: 0px;
	margin-bottom: 10px;
}
.link2::before {
	float: left;
	content: url('images/icons1.gif');
}

.fourth2 {
	border-top: 1px dotted #808080;
	margin-top: 10px;
	margin-left: 0px;
	width: 320px;
}
.fourth-title2 {
	background-color: white;
	color: #0080FF;
	height: 20px;
}
.fourth3 {
	border-top: 1px dotted #808080;
	margin-top: 10px;
	margin-right: 16px;
	height: 30px;
	margin-left: 16px;
}
.fourth3-left {
	margin-left: 1px;
	float: left;
	padding-top: 6px;
	line-height: 20px;
}
.fourth3-right {
	float: right;
	padding-top: 6px;
	line-height: 20px;
}
.more2 {
	color: #575757;
	font-size: 13px;
	font-weight: bold;
	padding-top: 2px;
}
.a2 {
	color: #0080FF;
	font-weight: bold;
	font-size: 12px;
}
.right {
	margin-left: 30px;
	padding-top: 40px;
}
.input {
	margin-left: 45px;
	margin-top: 2px;
	width: 135px;
}
.button {
	padding-top: 2px;
	width: 70px;
	height: 18px;
	background-color: #A20492;
	border: none;
	color: white;
}
.background2 {
	border-top: 1px dotted white;
	min-height: 85px;
	background-color:#292626;
	width: 1049px;
	padding: auto;
	margin: auto;
}
.item {
	margin-left: 70px;
	margin-right: 41px;
	float: left;
	margin-top: 10px;
}
.p1 {
	text-align: center;
	color: white;
	margin-top:5px;
	text-decoration: none;
	font-size: 10px;
}
a {
	text-decoration: none;
}
.footer {
	width: 1049px;
	min-height: 38px;
	background-color: white;
	color: #0080C0;
	font-size: 12px;
	padding: auto;
	margin-top: -13px;
	margin-left: 142px;
}
.footer-right {
	float: right;
	margin-right: 12px;
	margin-top: -8px;
}
.footer-left {
	margin-left: 147px;
	margin-top: 10px;
}
.a3 {
	color: #0080C0;
}
.copy {
	margin-left: 381px;
	margin-top: -9px;
}
.img-footer {
	margin-left: 55px;
	margin-right: 50px;
}